body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    color: #6c7279;
    margin: 0;
    background: #fff;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0 0 10px 0;
}

/* -_-_-_CONTAINER_-_-_-_-_-_-_-_- */
.container {
    width: 100%;
    max-width: 1200px; /* без padding max-width=1170 */
    margin: 0 auto;
    padding: 0 15px;
}

/* -_-_-_header_-_-_-_-_-_-_-_- */
.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4f5167;
    padding: 35px 0;
    align-items: center;
}
.header_logo {
    
}


/* -_-_-_NAV_-_-_-_-_-_-_-_- */
.nav{
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav_link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity .2s linear;
}
.nav_link:first-child {
    margin-left: 0;
}
.nav_link:hover {
    text-decoration: underline;
    opacity: 1;
}



/* -_-_-_INTRO_-_-_-_-_-_-_-_- */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    height: 750px;
    background: #31344e url(../img/bg_inner.jpg) center no-repeat;
    background-size: cover; 
}
.intro_title {
    margin: 0 0 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 71px; /* можно записать 1.1, это значение относительно font-size (т.е. 1=65px, 1.1=71px) */
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.intro_inner {
    margin: 0 auto;
    max-width: 970px;
    width: 100%;
    text-align: center;
}
.intrl_suptitle {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 60px;
}


/* -_-_-_BUTTON_-_-_-_-_-_-_-_- */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: background .2s linear;
}
.btn--red {
    background-color: #e84545;
}
.btn--red:hover {
    background-color: #ae3b3b;
}
.btn--long {
    min-width: 280px;
}



/* -_-_-_FEATURES_-_-_-_-_-_-_-_- */
.features {
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;
}
.features_item {
    width: 33.3333%;
    text-align: center;
    padding: 0 30px;
    margin: 25px 0;
}
.features_icon {
    margin-bottom: 25px;
}
.features_title {
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.features_text {
    font-size: 14px;
    color: #2d3033;
    line-height: 1.5;
}


/* -_-_-_WORKS_-_-_-_-_-_-_-_- */
.works {
    display: flex;
    flex-wrap: wrap;
}
.works__item {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.works__item:hover .works__content {
     opacity: 1;
    
}
.works__img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}
.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(232, 69, 69, .9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity .2s linear;
}
.works_title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.works_text {
    font-size: 14px;
    color: #fff;
}


/* -_-_-_TEAM_-_-_-_-_-_-_-_- */
.team {
    margin: 100px 0 70px 0;
}
.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
} 
.team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.team__img {
    margin-bottom: 20px;
    display: block;
    max-width: 100%;
    height: auto;
}
.team__name {
    margin-bottom: 8px;
    font-size: 22px;
    color: #2d3033;
}
.team__prof {
    margin-bottom: 15px;
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
}
.team__text {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
    margin-bottom: 20px;
}



/* -_-_-_SOCIAL_-_-_-_-_-_-_-_- */
.social {
    display: flex;
}
.social--footer {
    justify-content: center;
}
.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #e8ecee;
    transition: background-color .2s linear;
}
.social__link:hover {
    background-color: #e8ecee;
}
.social__link:hover .social__icon {
    fill: #e84545;
}
.social--footer .social__link {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}
.social--footer .social__link:hover {
    background-color: #fff;
}

.social__icon {
    display: block;
    height: 18px;
    fill: #c6cacc;
    transition: fill .2s linear;
}
.social--footer .social__icon {
    fill: #fff;

}


/* -_-_-_Testimonials (reviews)_-_-_-_-_-_-_-_- */
.reviews {
    background-color: #53354a;
    overflow: hidden;
}
.reviews__item {
    display: flex;
    flex-wrap: wrap;
}
.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}
.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}
.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}
.reviews__text {
    margin-bottom: 25px;
    font-family: 'Cardo', sans-serif;
    font-size: 36px;
    font-style: italic;
    line-height: 1.2;
    color: #fff;
}
.reviews__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

/* -_-_-_Download_-_-_-_-_-_-_-_- */
.download {
    margin: 90px 0;
    text-align: center;
}
.download__title {
    margin-bottom: 10px;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
}
.download__suptitle {
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 700;
    color: #2d3033;
    text-transform: uppercase;
}

/* -_-_-Footer-_-_-_-_-_-_-_- */
.footer {
    background-color: #3a3e64;
}
.footer__inner {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
}
.footer__block {
    width: 33.3333%;
    padding: 0 15px;
    text-align: center;
}
.footer_title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.footer__address {
    font-style: normal;
    line-height: 1.5;
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
}
.footer__text {
    font-style: normal;
    line-height: 1.5;
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
}

/* -_-_-Copyright-_-_-_-_-_-_-_- */
.copyright {
    padding: 20px 0;
    background-color: #313454;
}
.copyright__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
}
.copyright__text .by {
    color: #fff;
}
.copyright__text .♥ {
    color: #c34248;
}